html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  background: #3a454d;
  min-width: 320px;
  line-height: normal;
  padding: 10px;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

p,
ul,
ol {
  margin: 0 0 1em;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
}


h1 {
  font-size: 40px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}



a:hover {
  text-decoration: none;
}

.input {
  font-size: 16px;
  font-weight: 300;
}
